body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    position: relative;
    width: 900px;
    height: 300px;
}

.cone {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px; /* Adjust based on your image size */
    height: auto; /* Maintain aspect ratio */
    opacity: 0.6;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.square {
    position: absolute;
    top: 53%;
    right: 0;
    width: 100px;
    height: 100px;
    background-color: red;
    animation: moveSquare 5s linear;
    animation-fill-mode: forwards;
    transform: translateY(-50%);
    z-index: 1;
}

@keyframes moveSquare {
    0% {
        right: 0;
    }
    20% {
        background-color: red;
        border-radius: 0%;
        width: 100px;
        height: 100px;

    }
    70% {
        width: 10px;
        height: 10px;

    }
    100% {
        right: 100%;
        border-radius: 90%;
        background-color: blue;
        width: 100px;
        height: 100px;
    }
}
