/* styles the index page with purple background and white body. Fonts were chosen to be inkeeping with the formatting 
of the dissertation itself.*/
body, html {
    width: 100%;
    height: 100%;
    background-color: #C7B1CA;
}

h1, h2, h3 {
    color: #390751;
}

p {
    line-height: 2em;
    text-indent: 50px;
}

.body {
    padding: 5%;
    width: 70%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #ffffff;
    border-radius: 10px;
}


.contents {
    margin-right: 5%;
    margin-bottom: 5%;
    padding: 5%;
    width: 70%;
    line-height: 1.5em;
    background-color: #ffffff;
}

.contents p {
    text-indent: 0;
}
